html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#editor {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

#left {
  width: 25%;
  height: 100%;
  float: left;
  min-height: 400px;
}

#left-wrapper {
  padding: 0 10px;
}

#tracks {
}

.track {
  min-height: 400px;
}

#map-canvas {
  width: 75%;
  height: 100%;
  min-height: 400px;
}

.file-upload {
  position: relative;
  overflow: hidden;
  cursor: default;
  /*width: 120px;*/

  line-height: 24px;
  padding: 5px 20px 2px 18px;


  display: inline-block;

  font-size: 16px;
  font-weight: bold;


  /*text-decoration: none;*/
  color: #fff;
  background: #2f8ab9;

  border: 1px solid #e8e8e8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 2px 0 0 #e8e8e8;
  -webkit-box-shadow: 0 2px 0 0 #e8e8e8;
  box-shadow: 0 2px 0 0 #e8e8e8;

  border: 0;
  -moz-box-shadow: 0 2px 0 0 #13648d;
  -webkit-box-shadow: 0 2px 0 0 #13648d;
  box-shadow: 0 2px 0 0 #13648d;
  /*vertical-align: middle;*/
}

.ajax-upload-dragdrop {
  margin: 10px 0;

}

#files {
  position: absolute;
  cursor: pointer;
  top: 0px;
  width: 85px;
  height: 33px;
  left: 0px;
  opacity: 0;
}

.ui-tabs .ui-tabs-panel {
  padding: 5px;
}

.ui-tabs.ui-widget-content {
  border: none;
  padding: 0;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
}

.ui-tabs-nav.ui-corner-all {
  border-radius: 0;
}

.segment .segment-list li {
  white-space: nowrap;
  width: 495px;
}

.segment .segment-list li span {
  padding-right: 5px;
  margin-right: 5px;
  border-right: solid 1px #000000;
  display: inline-block;
}

.segment .segment-list li span.pos {
  width: 40px;
}

.segment .segment-list li span.time {
  width: 135px;
}

.segment .segment-list li span.lat,
.segment .segment-list li span.lon {
  text-align: right;
  width: 140px;
}

